a{
  color:white !important;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin:10px auto ;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
.already{
  color: #000;
}

.btn-stretch {
  width: 5vh;
}